<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCFFL - Best Draft Ever</title>

    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cosmo/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-dragdrop.min.js"></script>
    <script src="~/Scripts/underscore-min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/services.js"></script>
    <script src="~/app/controllers.js"></script>

    <script src="~/app/DraftDayController.js"></script>
    <script src="~/app/DraftDayTeamsController.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TCFFL Best Draft Ever</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown">Draft Day <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/#draft">Draft</a></li>
                            <li><a href="/#draftday">Draft Board</a></li>
                            <li><a href="/#teamview">Live Teams View</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/#/admin/teams">Teams</a></li>
                            <li><a href="/#listplayers">Player List</a></li>
                            <li><a href="/#/admin/draft">Draft Order</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ernpac</p>
        </footer>
    </div>  
    @RenderSection("scripts", false)
</body>
</html>